/* .div-tong{
  display: flex;
  flex-direction: column;
} */
/* .orders {
  display: flex;
  justify-content: center;
  color: #555;
} */
/* .container {
  width: 1400px;
  padding: 50px 0px;
} */

/* .title {
  display: flex;
  justify-content: space-around;
  padding-bottom: 45px;
} */

.btn-cancleRoom{
      padding: 2px 5px;
      margin-top: 10px;
      width: 40%;
      border-radius: 5px;
      font-weight: 500;
      color: white;
      border: 1px solid rgba(220, 20, 60, 0.6);
      cursor: pointer;
      text-align: center;
      background-color: rgb(246, 72, 72);
}
/* .btn-finishRoom-disabled{
    color: white;
    padding: 2px 5px;
    margin-top: 10px;
    width: 40%;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid #003580;
    pointer-events: none;
    opacity: 0.6;
    text-align: center;
    background-color: #003580;
} */
.btn-cancle1Room-disabled{
    color: white;
    padding: 2px 5px;
    margin-top: 10px;
    width: 40%;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid blue;
    pointer-events: none;
    opacity: 0.3;
    background-color: #003580;
    text-align: center;
}
/* table {
  width: 100%;
} */
/* tr {
  height: 50px;
} */

/* th {
  text-align: left;
} */

/* sup{
  font-size: 12px;
} */

/* a{
  text-decoration: none;
} */

/* CSS cho hộp thoại xác nhận */
.confirmation-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.confirmation-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  text-align: center;
}

.confirmation-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.confirmation-content p {
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.confirmation-buttons button {
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* .confirmation-buttons button:hover {
  background-color: #0056b3;
} */

/* .confirmation-buttons button:last-child {
  background-color: #dc3545;
} */

/* .confirmation-buttons button:last-child:hover {
  background-color: #c82333;
} */




.WrapperContainer {
  width: 100%;
  background-color: #f5f5fa;
}

.WrapperListOrder{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.WrapperItemOrder{
  display: flex;
  align-items: center;
  padding: 9px 16px;
  background: #fff;
  margin-top: 12px;
  flex-direction: column;
  width: 950px;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 12px 12px #ccc;
}
.WrapperStatus{
  /* margin-top: 10px; */
  display:flex;
  /* align-items: flex-start; */
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(235, 235, 240);
  flex-direction:column;
}

.Wrapper-detail{
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.status-reservation{
  font-size: 14;
  font-weight: bold;
}

.WrapperFooterItem{
  display: flex;
  flex-direction : column;
  gap: 10px;
  border-top: 1px solid rgb(235, 235, 240);
  width: 100%;
  align-items:flex-end;
  padding-top: 10px;
}

.title-order {
  margin-top: 10px;
  margin-left: 143px;
}
.button-order{
  padding: 12px 8px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgb(11, 116, 229);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: rgb(11, 116, 229);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: 8px
}

.photo-Room {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #e1e1e1;
  padding: 2px;
  position: relative;
  background-position: left;
  border-radius: 5px;
}
.detail-img{
  /* margin-right: 76%; */
  display: flex;
  position: relative;
  margin-right: auto ;
}

.detail-room {
  margin: 0px 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.number-room{
  margin-top: 2px;
  display: flex;
}

.price-room{
  margin-top: 8px;
  min-width: 540px;
  display: flex;
  justify-content: flex-end;
  margin-left: 130px;
}

.container-search{
  display: flex;
  width: 984px;
  position: relative;
  margin: auto;
  margin-top: 10px;
}

.icon-search{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 20px;
  font-weight: 100;
}

.form-search {
  height: 36px;
  width: 100%;
  border-radius: 4px;
  padding: 9px 20px;
  outline: none;
  border: 1px solid rgb(196, 196, 207);
  padding-left: 40px;
}

/* .form-search{
  margin-top: 7px;
  display: flex;
  width: 950px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid rgb(196, 196, 207);
  margin: auto;
  padding: 10px 12px;
} */

.conf-font1 {
  font-size: 14px;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
