.registerAccount {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding-left: 531.6px;
}

.registerAccountContainer {
  display: flex;
  flex-direction: row;
  gap: 17px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.registerAccountContainer h2,
.registerAccountContainer input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #262626;
}

.registerAccountContainer > span {
  width: 300px;
  height: 30px;
}

.lInput {
  width: 300px;
  /* height: 50px; */
  padding: 10px;
}

.lButton3 {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  /* left: 30%; */
  margin-bottom: 15px;
}

.lButton3:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}

.BtnRH1 {
  /* color: gray; */
  color: #fff;
  text-decoration: none;
  font-size: 300;
  font-weight: 500;
}
.BtnRH:hover {
  color: #0071c2;
  cursor: pointer;
}

.btn-registerAccount-user {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 177px;
}

.btn-registerAccount-user button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title-h1 {
  font-family: system-ui;
  padding-left: 523px;
  padding-bottom: 50px;
}

.checkbox-partner{
  display: flex;
  text-align: justify;
}

.checkbox-partner input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

.confirmPartner{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 480px;
  height: 50px;
  display: inline-block;
  line-height: 20px;
  word-break: break-word;
}

.terms-and-policies{
  color: #0071c4;
  text-decoration: none;
}
