.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    
    
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: larger;
    font-weight: 600;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding:5px 10px;
    cursor: pointer;
    color: #003580;
}
span {
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.options{
    position: absolute;
    top: 40px;
    right: 16%;
    padding: 17px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.link {
    text-decoration: none;
    color: gray;
    font-weight: 300;
}