.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    
    
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: larger;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding:5px 10px;
    cursor: pointer;
    color: #003580;
}
span {
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.options{
    position: absolute;
    top: 40px;
    right: 16%;
    padding: 17px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
    z-index: 4;
}


.link {
    text-decoration: none;
    color: rgb(31, 29, 29);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-register-agent {
    /* border: 1px solid #fff; */
    /* padding:7px 12px; */
    margin-left: 550px;
}

.register-agent{
    /* border: 1px solid #fff; */
    text-decoration: none;
    font-weight: 500;
}
.register-agent span{
    font-size: 16px;
    line-height: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

/* .container-register-agent :hover {
    text-decoration: none;
} */
.register-agent:hover{
    /* border: 1px solid #fff;  */
    padding: 6px 11px;
    background-color: #395172;
    text-align: center;
    text-decoration: none;
}

.wrap-img {
    width: 30px;
    height: 30px;
    border: 2px solid #ffb700;
    border-radius: 50%;
    align-items: center;
}

.img-user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
