.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left1{
        flex: 1;
        text-align: left;

        img {
          position: relative;
          width: 190px;
          height: 140px;
          object-fit: cover;
          padding-right: 10px;
          padding-bottom: 10px;
        }

        .setup-label {
          display: flex;
          gap: 10px;
        }
      }
      // .end{
      //   flex: 1;
      //   text-align: right;

      //   img {
      //     position: relative;
      //     width: 190px;
      //     height: 140px;
      //     object-fit: cover;
      //     padding-right: 10px;
      //     padding-bottom: 10px;
      //   }
      // }
      

      .right1 {
        flex: 2;
        display: flex;
        padding: 0 20px;

        form {
          flex: 1;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-between;
          

          .formInput {
            width: 40%;
            flex: 1;

          img {
          position: relative;
          width: 190px;
          height: 140px;
          object-fit: cover;
          padding-right: 10px;
          padding-bottom: 10px;
          }

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            .formInputRow{
              display: flex;
              align-items: center;
              padding-bottom: 18px;
              padding-top: 15px;

              label{
                flex: 1;
                // padding-left: 20px;
                padding-right: 14px;
                // margin-left: 20px;
              }

              div{
                flex: 2;
                // padding-left: 15px;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              margin-bottom: 15px;
              border-bottom: 1px solid gray;
            }
          }
          
          
          // img {
          //   height: 120px;
          //   width: 120px;
          //   border-radius: 50%;
          // }
          .no-btn {
            background-color: transparent;
            cursor: default;
          }
          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
