.container-detailOrder {
  display: table;
}

.detail-sumary {
  margin: 0 !important;
  width: 100%;
  /* height: 3000px; */
  height: max-content;
}

.wrap-detail {
  width: 790px;
  margin-left: 260px;
  /* width: 750px;*/
  /* margin-left: 280px; */
}

.reservation-status-container {
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
}

.reservation-status-title {
  margin-bottom: 16px;
}

.reservation-status-title-status {
  margin-bottom: 8px;
  height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.detail-header {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}

.link-booking-again {
  color: #003580;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.link-booking {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.spacing {
  padding-left: 20px;
}
.link-booking-again:hover {
  color: #1a1a1a;
  text-decoration: underline;
}
.icon-booking {
  position: relative;
  fill: currentColor;
  height: 32px;
  width: 32px;
  margin-right: 11px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-info-hotel {
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
}

.wrap-info-hotel {
  margin-top: 32px;
  position: relative;
}

.info-hotel {
  color: #1a1a1a;
  margin: 0;
  padding-bottom: 20px;
}

.info2 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.wrap-nameHotel {
  color: #006ce4;
}

.nameHotel {
  color: #006ce4;
  text-decoration: none;
}
.nameHotel:hover {
  color: #1a1a1a;
}

.picture-room {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  height: 120px;
  position: absolute;
  right: 90px;
}

.photo {
  object-fit: cover;
}
.setup-photo {
  display: block;
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.container-time-checkin {
  margin-top: 8px;
  margin-bottom: 16px;
}
.layout {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrap-time-checkin {
  display: flex;
  height: 60px;
}

.wrap-icon {
  min-width: 32px;
}
.icon-size {
  width: 20px;
  height: 20px;
}
.icon-size1 {
  fill: currentcolor;
  display: inline-block;
}
.icon-size-small {
  width: 16px;
  height: 16px;
}

.position-detail {
  align-self: center;
  margin-left: 8px;
}
.checkin-checkout-info {
  display: flex;
  flex-wrap: nowrap;
}

.position-tg {
  text-align: start;
}
.position-tg2 {
  display: inline-block;
  position: relative;
}

/* .setup-time{
    background: none;
    border: none;
    box-sizing: border-box;
    color: inherit;
    display: inline-flex;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    position: relative;
    text-align: start;
    text-decoration: none;
    vertical-align: top;
} */
.type:first-child {
  padding-right: 16px;
}
.type:last-child {
  padding-left: 16px;
}

.checkin {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.setup-checkin {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.time-checkin {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.size-hr {
  height: 100%;
  width: 2px;
}
.color-hr {
  background: #e7e7e7;
  border: 0;
  margin: 0;
}

.container-detail-room {
  margin-top: 20px;
  margin-bottom: 16px;
}

.wrap-detail-room {
  display: flex;
}

.room-info {
  align-self: center;
  margin-left: 8px;
}
.format {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.font-quantity {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.banner-info,
.banner-option {
  position: absolute;
  right: 205px;
  top: 65px;
  width: 294px;
  background: #fff;
}
.banner-info {
  /* position: sticky; */
  display: table-cell;
  /* width: 327px; */
  width: 325px;
  /* background: #ebebeb; */
}

.wrap-banner-info {
  margin-bottom: 16px;
}

.booknumber-code {
  border-radius: 2px;
  border: 1px solid #008009;
  padding: 8px;
}
.wrap-banner-info--disabled .booknumber-code {
  background-color: #f5f5f5;
  border-color: #a2a2a2;
}

/* .booknumber-code-item{
    padding-right: 8px;
} */

.booknumber-code-item:first-child {
  margin-bottom: 8px;
}
.booknumber-font {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.booknumber-font2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 6px;
  margin-right: 5px;
}

.slide-bar-service-container {
  border: 1px solid #d9d9d9;
}

.wrap-info-service {
  display: table-cell;
  width: 370px;
}
.size-info-service {
  padding: 12px 15px 0;
}
.Title-1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}
.Title-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.layout-title {
  line-height: 1.4;
  margin-bottom: 8px;
  color: #1a1a1a;
}
.button-cancle-room-container {
  margin-top: 12px;
}
.rap-button-cwancle {
  margin-top: 12px;
}

.button-cancle-room {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  box-sizing: border-box;
  color: inherit;
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  position: relative;
  text-align: start;
}

.title-cancle-room:hover,
.icon-cancle:hover {
  color: #1a1a1a;
  text-decoration-color: #1a1a1a;
}

.title-cancle-room {
  margin-left: 8px;
  color: #006ce4;
  text-decoration: underline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.change-time-book {
  padding: 12px 15px;
}

.info-contact-container {
  margin-top: 24px;
  margin-bottom: 15px;
}

.Hr-contact {
  margin-right: 14px;
  height: 1px;
  background-color: #d9d9d9;
}

.title-contact {
  margin-top: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.tele-contact {
  font-weight: 500px;
  color: #474747;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrap-link-chat-with {
  margin-top: 4px;
  color: #474747;
}

.link-chat-with {
  color: #006ce4;
  font-weight: bold;
  text-decoration: underline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.link-chat-with:hover {
  color: #1a1a1a;
  text-decoration-color: #1a1a1a;
}

.wrap-link-chat-with1 {
  margin-top: 8px;
  color: #474747;
}

.trick-info {
  color: #474747;
  margin-top: 10px !important;
  font-size: 12px !important;
  line-height: 1.4 !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.container-details-room {
  padding-top: 0 !important;
  position: relative;
}

#container-detailroom {
  float: left !important;
  /* margin: 0 !important; */
  width: 730px;
  margin-top: 20px;
}

.header-title-room {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.section-detail {
  width: 100%;
  padding: 0;
  border-width: 0;
  margin-bottom: 8px;
}
.section {
  width: 100%;
  left: 0 !important;
  max-width: 694px;
}

.room {
  /* margin: 1.5em 0 0;
    padding: 1.5em 0 0; */
  border-top: 3px solid #fafcff;
}
#container-detailroom h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
#container-detailroom .room-introduction {
  margin-bottom: 1em;
  min-height: 0;
  margin-top: 5px;
  max-width: 650px;
}
.conf-font {
  font-size: 14px;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.conf-table {
  margin-bottom: 0.3em;
}

.conf-table-content {
  font-weight: bold;
  padding-right: 2em !important;
  text-align: left;
  width: 187px;
}

.conf-table-content1 {
  font-weight: bold;
  padding-right: 2em !important;
  text-align: left;
  width: 187px;
  padding-bottom: 30px;
}

.space-block {
  margin-right: 100px;
  opacity: 1;
}
.ctc-options {
  display: flex;
  margin-bottom: 4px;
  flex-wrap: wrap;
}

.ctc-options-item {
  color: #474747;
  font-size: 13px;
  margin-right: 8px;
}

.icon-smoking {
  width: 21px;
  height: 17px;
  padding-right: 7px;
}

.device-room-area {
  display: inline-block;
  color: #008234;
  padding: 2px 15px 0 0;
  margin: 0 0 5px 0;
}

/* th {
    border: 1px solid;
} */
.icon-details {
  padding-right: 7px;
}

.room__meal-rows {
  display: table;
  position: relative;
  width: 100%;
}

.room__meal-row {
  display: table-cell;
}

.room__meal-cell {
  display: table-cell;
  vertical-align: inherit;
}

.room-policy-children {
  margin-bottom: 0.3em;
}

.children-policy-container {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mr-policy-children {
  margin-bottom: 8px;
}

.position {
  padding-bottom: 85px;
}

.price-final-container {
  margin-bottom: 50px;
}

.wrap-price-final {
  border: 1px solid #ebf3ff;
  padding: 16px;
  border-radius: 0;
}

.table-price-final {
  width: 100%;
}

.table-price-final td {
  text-align: right;
}

.conf-price-room {
  font-size: 20px;
  line-height: 28px;
  color: #003b95;
}
.conf-price-room-note {
  font-size: 14px;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.conf-table-content2 {
  font-size: 14px;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: auto;
  text-align: left;
}

.conf-font2 {
  font-size: 20px;
  line-height: 28px;
  color: #003b95;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fillter {
  background-color: #fafcff;
}

.wrap-info-payment {
  padding-top: 0;
}

.header-info-payment {
  font-size: 15px;
}

.listSearch1 {
  max-width: 400px;
  height: 500px;
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  /* top: 148px;
    right: 540px; */
  top: 200px;
  right: 610px;
  height: max-content;
}

.lsTitle1 {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}

.lsItem1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem1 > label {
  font-size: 12px;
}

.lsItem1 > input {
  height: 30px;
  border: none;
  padding: 5px;
}

.lsItem1 > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions1 {
  padding: 10px;
}

.listSearch1 > button {
  padding: 10px;
  background-color: #0072c4;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}
.change-time {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #0072c4;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
  border-radius: 5px;
}

.change-number-room {
  display: flex;
  padding-top: 13px;
}

.reserve1 {
  width: 98.93vw;
  /* height: 100vh; */
  height: 1450.97px;
  background-color: rgba(0, 0, 0, 0.418);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.rContainer1 {
  background-color: white;
  padding: 20px;
  position: relative;
  /* top: 215px; */
  /* top: -215px; */
  top: -215px;
}

.listSearch2 {
  width: 25vw;
  height: 30vh;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
  height: max-content;
  align-items: center;
  justify-content: center;
}

.lsTitle1 {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}

.lsItem1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem1 > label {
  font-size: 12px;
}

.lsItem1 > input {
  height: 30px;
  border: none;
  padding: 5px;
}

.lsItem1 > span {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions1 {
  padding: 10px;
}

.listSearch2 > button {
  padding: 10px;
  background-color: #0072c4;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 500;
}

/* .td-service{
} */

.container-review {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 98.93vw;
  /* height: 1471.97px; */
  /* height: 1652.97px; */
  /* height: 1664.97px; */
  height: 1916.97px;
  background-color: rgba(0, 0, 0, 0.418);
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.form1 {
  width: 750px;
  margin: 0 auto;
  height: 750px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  left: 10%;
}

.container-review > h1 {
  text-align: center;
}

.form1 > label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="radio"],
.input-staywith{
  margin-right: 10px;
}

button[type="submit"] {
  display: block;
  width: 99%;
  height: 48px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Định dạng checkbox và radio button */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  /* margin-right: 10px; */
}

.img-room {
  position: relative;
  width: 750px;
  height: 350px;
  top: 4px;
}

.img-text {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 282px;
  left: 392px;
  color: white;
  padding: 5px 10px;
}
.img-text1 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 321px;
  left: 392px;
  color: white;
  padding: 5px 10px;
}

.container-elemment {
  background-color: #ffff;
  padding: 16px;
}

.rf_question {
  margin: 0;
  padding: 0;
  counter-reset: li;
  list-style: none;
}

.h2-question {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  top: 0;
  margin: 0 0 -5px;
  padding: 0 10px 7px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* padding-left: 7px;
    padding-bottom: 5px; */
}

.h21-question {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  top: 0;
  margin: 25px 0 -5px;
  padding: 0 10px 7px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* padding-left: 7px;
  padding-bottom: 5px; */
}

.h3-question {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 8px;
}

.fieldset1 {
  border: none;
  padding: 15px 0 0 0;
}
.group-radio {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.container-radio {
  display: flex;
  flex-direction: column;
}

.fieldset1 > fieldset {
  border: none;
}
.text-radio {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1a1a1a;
  padding: 0 0 0 10px;
  padding-bottom: 10px;
  /* margin-bottom: 10px; */
}
.text-radio1 {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1a1a1a;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}
.lable-question2,
.lable-question3,
.lable-question1 {
  display: flex;
  padding-bottom: 5px;
}

.lable-question1 input {
  width: 18px;
  height: 18px;
  margin: 0;
}

.lable-question2 input {
  width: 18px;
  height: 18px;
  margin: 0;
}

.lable-question3 input {
  width: 18px;
  height: 18px;
  margin: 0;
}

.rClose1 {
  position: absolute;
  top: -259px;
  right: -482px;
  cursor: pointer;
}
.container-label {
  display: flex;
  flex-direction: column;
}

.status-tks {
  display: flex;
  border: 1px solid #97e59c !important;
  padding: 16px;
  border-radius: 5px;
  background-color: #def7e8;
  margin-bottom: 30px;
}

.circle-check {
  fill: #008234;
  color: #008234;
  margin-right: 10px;
}

.icon-circle-check {
  width: 21px;
  height: 21px;
}

.input-staywith {
  width: 20px;
  height: 20px;
}

.label-staywith {
  display: flex;
  margin-bottom: 20px;
}

.label-staywith span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.separation {
  width: 749px;
  height: 10px;
  background-color: rgba(186, 172, 172, 0.5);
  position: absolute;
  left: 385px;
}
.separation3 {
  width: 749px;
  height: 10px;
  background-color: rgba(186, 172, 172, 0.5);
  position: absolute;
  left: 385px;
  margin-top: 10px;
}

.point-range-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /* font-size: 0; */
  line-height: 0;
  margin: 0;
  padding: 0;
}

.point-range-number {
  display: flex;
  -webkit-box-flex: 1;
  /* font-size: 0; */
  -webkit-box-pack: justify;
  /* justify-content: space-between; */
  text-align: center;
  line-height: 0;
  padding: 0;
  margin: 40px 0 32px 0;
  position: relative;
  width: 100%;
}

.point-range-number-input {
  height: 0 !important;
  opacity: 0 !important;
  position: absolute !important;
  width: 0 !important;
  z-index: -1 !important;
  left: 0 !important;
}

.point-range-number-label:first-of-type {
  width: 10% !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: solid 1px #bdbdbd !important;
  border-right-width: 0 !important;
  height: 42px !important;
  line-height: 42px !important;
  border-radius: 4px 0 0 4px !important;
  cursor: pointer;
}

.point-range-number-label {
  width: 10% !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: solid 1px #bdbdbd !important;
  border-right-width: 0 !important;
  height: 42px !important;
  line-height: 42px !important;
  border-radius: 4px 0 0 4px !important;
  cursor: pointer;
}

.point-range-number-label:last-of-type {
  width: 10% !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 4px 4px 0 !important;
  border: solid 1px #bdbdbd !important;
  border-right-width: 1px !important;
  height: 42px !important;
  line-height: 42px !important;
  border-radius: -1px 0 0 4px !important;
  cursor: pointer;
}

/* .point-range-number-input:checked + .point-range-number-label:focus {
  background-color: #0071c2 !important;

} */

.point-range-number-input:checked + .point-range-number-label {
  background-color: #0071c2;
  color: #fff !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* display: block; */
}

.point-range-number-input:checked + .point-range-number-label > .hover-point {
  display: block;
}

.hover-point {
  background-color: #0071c2;
  border-radius: 6px;
  color: #fff;
  display: none;
  font-size: 14px;
  font-weight: 700;
  left: 50%;
  line-height: 1.4;
  padding: 4px 8px;
  position: absolute;
  text-align: center;
  top: -14px;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  white-space: nowrap;
  cursor: default;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tranform-hover-the-first {
  left: -4px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.tranform-hover-the-last {
  left: 654px;
  /* right: 8px; */
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  /* transform: translateX(0%); */
}
.tranform-hover2 {
  left: 82px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.tranform-hover3 {
  left: 157px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.tranform-hover4 {
  left: 214px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.tranform-hover5 {
  left: 291px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.tranform-hover6 {
  left: 367px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.tranform-hover7 {
  left: 447px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.tranform-hover8 {
  left: 514px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.tranform-hover9 {
  left: 569px;
  -webkit-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.tranform-hover-the-first:after {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  left: 8px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0071c2;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  left: 24%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tranform-hover-the-last:after {
  transform: translateX(0%);
  left: 8px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0071c2;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  left: 71%;
  transform: translateX(-50%);
}
/* } */
.tranform-hover9:after,
.tranform-hover8:after,
.tranform-hover7:after,
.tranform-hover6:after,
.tranform-hover5:after,
.tranform-hover4:after,
.tranform-hover3:after,
.tranform-hover2:after {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  left: 8px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0071c2;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  left: 45%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hover-point {
  display: none;
}

.point-range-number-label {
  width: 10% !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: solid 1px #bdbdbd !important;
  border-right-width: 0 !important;
  height: 42px !important;
  line-height: 42px !important;
  color: #737373 !important;
}

.point-range-number-label:hover {
  background-color: #ececec;
}

.point-range-number-label:hover .hover-point {
  display: block;
}

.point-range-number-label:checked .hover-point {
  display: block;
}

.title-range-point-text {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #6b6b6b;
  font-weight: 500;
  margin-top: -16px;
  margin-bottom: 52px;
}

.title-range-point-text > span:first-child {
  float: left;
  padding: 0 4px;
}

.title-range-point-text > span:last-child {
  float: right;
  padding: 0 4px;
}

.about-like-dislike {
  position: relative;
  /* padding: 0 0 26px;
  margin: 0 0 16px; */
}

.h22-question {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  top: 0;
  margin: 25px 0 10px;
  padding: 0 10px 7px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.review-content-positive{
   padding: 8px;
   margin-top: 16px;
}
.review-content-negative {
  padding-left: 8px;
  /* padding-top: 20px; */
  margin-top: 16px;
  /* padding-top: 20px !important; */
}
.rv-icon {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
  margin-left: -7px;
}

.icon-rv{
  /* color: #adedbd; */
  color: #7ee397;

}

.icon-rv1{
  color: #dd6b2d;
}

.rv-label{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.review-content-negative > .textarea_negative,
.review-content-positive > .textarea_positive {
  resize: none;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textarea_positive{
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 16px!important;
}

.textarea_negative{
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 16px!important;
}
