.hotelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.hotelTitle {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelDiaChi {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hotelDiaChi > span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelKCach {
  color: #0071c4;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelGiaHL {
  color: #279d2f;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.datNgay {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #0071c4;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelImgWrapper {
  width: 33%;
}

.hotelImg {
  width: 100%;
  object-fit: cover;
}

.hotelChiTiet {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.hotelChiTietVB {
  flex: 3;
}

.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelChiTietGia {
  flex: 1;
  background-color: #ebf3fe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotelChiTietGia > h1 {
  font-size: 18px;
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelChiTietGia > span {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelChiTietGia > h2 {
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hotelChiTietGia > button {
  border: none;
  background-color: #0071c4;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.slider {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.422);
  display: flex;
  align-items: center;
}

.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  width: 80%;
  height: 80vh;
}

.dong {
  position: absolute;
  font-size: 30px;
  top: 20px;
  right: 20px;
  color: lightgray;
  cursor: pointer;
}

.chuyen {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}

.headerSearch1 {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  /* position: absolute; */
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}
.date1 {
  position: absolute;
  top: 220px;
  z-index: 2;
  left: 653px;
}
.options1 {
  z-index: 2;
  position: absolute;
  top: 213px;
  right: 22%;
  padding: 17px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.headerSearchItem1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.notify {
  font-size: 14px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.headerIcon1 {
  color: black;
}

.page-section {
  margin: 0 0 32px;
  padding: 0;
}

.title-reviews {
  margin-block-start: 8px;
}

.wrap-title-reviews {
  margin-block-end: 0;
  margin-block-start: 8px;
  margin-inline-end: 8px;
  /* margin-inline-start: 8px; */
}

.title-reviews-block {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.point-hotel-container {
  margin: 16px 0 24px;
}

.btn-see-all-reviews {
  background: none;
  border: none;
  box-sizing: border-box;
  color: inherit;
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  position: relative;
  text-align: start;
  text-decoration: none;
  vertical-align: top;
}

.wrap-see-all-rv {
  gap: 8px;
}

.rv-setup {
  align-items: baseline;
  display: flex;
}

.review-score {
  flex-wrap: nowrap;
  margin-bottom: 8px;
  align-items: center;
  display: flex;
}

.score_frame {
  align-items: center;
  background-color: #003580;
  /* border-radius: (32px / 5.5) 0; */
  border-radius: 7px 7px 7px 1px;
  color: #fff;
  display: flex;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  vertical-align: baseline;
  width: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.font-reviews {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.number-review {
  color: #6b6b6b;
  margin: 8px;
}

.review-score-all {
  color: #0071c2;
  display: inline;
  text-decoration: none;
  animation: sliding-panel-in 500ms;
}

.review-score-all:hover {
  color: #0071c2;
  text-decoration: underline;
  /* #006ce4 */
}

.wrap-block-review {
  margin-bottom: 24px;
  min-width: 1024px;
}

.wrap-block-review h3 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 24px;
}

.container-content-review {
  overflow: hidden;
  white-space: nowrap;
  margin-inline-end: 8px;
  margin-inline-start: 8px;
}

.position-review {
  margin-block-end: calc(var(--bui_spacing_2x) * -1);
  margin-block-start: calc(var(--bui_spacing_2x) * -1);
  margin-inline-end: calc(var(--bui_spacing_4x) * -1);
  margin-inline-start: calc(var(--bui_spacing_4x) * -1);
  position: relative;
}

.size {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: scroll;
  overflow: -moz-scrollbars-none;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  white-space: nowrap;
}

.list-review-scroll {
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  scroll-padding-left: 8px;
  backface-visibility: hidden;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  /* scroll-padding-left: 16px; */
  /* transition: transform 0.5s; */
  width: 100%;
  scroll-snap-align: start;
  overflow-x: hidden;
  z-index: 87;
}

.size-li {
  /* width: 33.33333% - 40px * 2/3; */
  width: 32.3%;
  height: 203px;
  margin-inline-end: 16px;
  box-sizing: border-box;
  flex: 0 0 auto;
  /* margin-inline-end: 18px; */
  scroll-snap-align: start;
  white-space: normal;
}

.size-li:last-child {
  margin-inline-end: 0px !important;
}

.container-content {
  box-sizing: border-box;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #e7e7e7;
  padding: 16px;
}

.feature-view {
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}

.feature1 {
  display: flex;
  height: 22%;
  list-style-type: none;
  padding: 0;
  /* pointer-events: none; */
}

.feauture-avatar {
  display: flex;
  width: 100%;
  height: 100%;
}

.custom-avatar {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.wrap-avatar {
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  border-radius: 9999px;
}

.wrap-name {
  display: flex;
  flex-direction: column;
}

.wrap-name .timeReview {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 46px;
}
.wrap-name .name-user-review {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 20px;
  padding-left: 46px;
}

.avatar {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bui_color_background_alt);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column-reverse;
}

.img-userReview {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.img-userReview1 {
  object-fit: cover !important;
}

.img-userReview2 {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.feauture-review-text {
  margin: 12px 0;
}

.wrap-review-text {
  direction: ltr;
  text-align: left;
}

.options-text {
  white-space: pre-line;
  word-break: break-word;
}

.btn-detail-review {
  background: none;
  border: none;
  box-sizing: border-box;
  color: #0071c2;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  /* position: relative; */
  text-align: start;
  text-decoration: none;
  vertical-align: top;
  z-index: 999;
}

.btn-detail-review:hover {
  color: #0071c4;
  text-decoration: underline;
}

.btn-detail1 {
  display: inline;
}

.btn-detail2 {
  color: #0071c2;
}

.feauture-more {
  position: relative;
  z-index: 101;
}

.wrap-btn-scroll {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: -1%;
  top: 50%;
  right: -1%;
  transform: translateY(-50%);
  /* z-index: 99999; */
  z-index: 100;
}

.btn-scroll {
  background-color: #fff;
  /* background-color: #fff; */
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  border-color: transparent;
  width: 36px;
  height: 36px;
  padding: 4px 12px;
  cursor: pointer;
  opacity: 1;
  /* pointer-events: all; */
  visibility: visible;
  /* visibility: hidden; */
  position: relative;
  border-radius: 50%;
  text-align: center;
  color: #262626;
  /* z-index: 1; */
}

.btn-scroll:hover {
  /* background-color: #efecec; */
  background-color: rgba(215, 215, 215, 0.867);
  /* overflow-x: scroll;
  scroll-snap-type: x mandatory; */
}

.btn-scroll:before {
  border: 1px solid transparent;
  border-radius: 2px;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.12s cubic-bezier(0.2, 0, 0.4, 0.8);
  transition-property: background-color;
}

.wrap-btn-move-right {
  fill: currentcolor;
  display: inline-flex;
  flex-shrink: 0;
  /* margin: 0 12px; */
  overflow: hidden;
  position: relative;
}

.wrap-btn-move-right,
.wrap-btn-move-left {
  /* height: 16px; */
  fill: currentcolor;
  display: inline-block;
}

.color-btn-see-all-cmt {
  background-color: #fff;
  color: #0071c2;
  padding: 8px 20px;
  border-color: #0071c2;
}

.color-btn-see-all-cmt span {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 20px;
}

.conf-font1 {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 20px;
}
.color-btn-see-all-cmt:hover {
  color: #0071c2;
  background-color: #e7eff8;
}

.wrap-review-detail {
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 24s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
  visibility: visible;
}

.setup-review-detail {
  border: none;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  outline: none;
  overflow: auto;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.24s cubic-bezier(0, 0, 0.4, 1);
  z-index: 200;
}

.container-review-detail {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.move1 {
  transform: translate(0);
}

.move2 {
  opacity: 1;
  transition-duration: 0.24s;
  transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
}

.modelOpen1 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  max-height: 400px;
  outline: none;
  pointer-events: all;
  width: 776px;
}

.modelOpen2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* overflow: auto; */
  padding-block-end: 5px;
}

.padding1 {
  min-height: 28px;
}

.padding2 {
  /* margin-block-end: 16px; */
  padding-block-start: 24px;
  padding-inline-start: 717px;
}

/* .padding2 {
  padding-inline-end: calc(4px * 9);
  position: relative;
} */

/* .padding4 + .pading2 {
  padding-block-start: 0;
} */

/* .padding4{
  flex-grow: 1;
  padding-inline-end: 24px;
  padding-inline-start: 24px;
}

.wrap-review-detail-display{
  display: flex;
  padding: 0;
  list-style-type: none;
  pointer-events: none;
}

.conf-img{
  height: 100%;
  width: 100%;
}

.conf-img1{
  background-color: #f2f2f2;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
}

.conf-img img{
  height: 32px;
  width: 32px;
} */
.wrap-btn-off-model {
  height: 32px;
  width: 32px;
  right: 24px;
  left: 24px;
}
.btn-off-model {
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #fff;
}

.btn-off-model:hover {
  background-color: #efefef;
}

.btn-off-model1 {
  fill: currentcolor;
  display: inline-flex;
  flex-shrink: 0;
  margin: 0 4px;
  overflow: hidden;
  position: relative;
}

.btn-off-model2 {
  height: 16px;
  fill: currentColor;
  display: inline-block;
}

.block-detail-review {
  height: 200px;
  padding-block-start: 0;
  flex-grow: 1;
  /* padding-inline-end: 24px;
  padding-inline-start: 24px; */
}
.review {
  height: 100%;
  width: 103%;
}
.mr-review {
  height: 100%;
  margin-inline-start: 24px;
  margin-inline-end: 24px;
  box-sizing: border-box;
  clear: both;
  display: flex;
  list-style-type: none;
  padding: 0;
  pointer-events: none;
}

.review-avatar {
  margin-block-end: 0;
  margin-block-start: 19px;
  margin-inline-end: 24px;
  margin-inline-start: 24px;
  width: 165px;
  height: 39.6px;
}
.avatar-user-review {
  height: 100%;
  margin-block-start: 0;
  margin-inline-end: 0;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}

.avatar-user-review1 {
  display: flex;
  height: 100%;
  list-style-type: none;
  padding: 0;
  pointer-events: none;
}

.img-review {
  align-items: center;
  background-color: #494949;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  flex-shrink: 0;
  pointer-events: all;
  /* border-radius: 50%; */
}

.conf-img {
  height: 100%;
  width: 100%;
}
.conf-img img {
  border-radius: 50%;
}

.conf-img1 {
  background-color: #f2f2f2;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
}

.conf-img img {
  height: 32px;
  width: 32px;
}

.name-review {
  padding-top: 5px;
  padding-left: 40px;
}

.name-reivewer {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.review-content {
  width: 540.95px;
  margin-block-end: 0;
  /* margin-block-start: 24px; */
  margin-inline-end: 24px;
  /* margin-inline-start: 24px; */
}

.list-detail-review {
  margin-block-start: 0;
  margin-inline-end: 0;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  height: 100%;
  list-style-type: none;
  padding: 0;
  pointer-events: none;
}

.detail-review-time-point {
  justify-content: space-between;
  margin-block-start: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0;
  display: flex;
  /* height: 100%; */
  list-style-type: none;
  padding: 0;
  pointer-events: none;
  padding: 12px 0px;
}

.span-setup {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #6b6b6b;
}

.wrap-review-score {
  display: flex;
  list-style-type: none;
  padding: 0;
  pointer-events: none;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 8px;
}

.block-score {
  align-items: center;
  background-color: #003580;
  border-radius: 7px 7px 7px 1px;
  color: #fff;
  padding: 9px 13px;
}

.title-review {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.wrap-review-positive-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.icon-positive {
  flex-shrink: 1;
  padding-top: 4px;
}

.wrap-review-negative-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.icon-negative {
  flex-shrink: 1;
  padding-top: 4px;
}

.wrap-icon-positive {
  display: inline-block;
  fill: #7ee397;
  color: #7ee397;
  vertical-align: middle;
}

.wrap-icon-negative {
  display: inline-block;
  fill: #dd6b2d;
  color: #dd6b2d;
  vertical-align: middle;
}

.space {
  flex-shrink: 0;
  width: 8px;
}

.wrap-content-review {
  flex-grow: 1;
  line-height: 1;
}

.content-review {
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
}

.container-review-positive-text {
  padding-bottom: 16px;
}

.sliding-panel-widget.is-shown {
  opacity: 1;
  display: block;
  background: rgba(0, 0, 0, 0.2);
}

.sliding-panel-widget {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 199;
  padding: 0;
  opacity: 0;
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.sliding-panel-widget-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
}

@keyframes sliding-panel-close-button-in {
  0% {
    /* opacity: 0; */
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sliding-panel-widget-close-button {
  padding: 15px 30px 15px 10px;
  background: #0071c2;
  width: 20px;
  border-radius: 5px 0 0 5px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  -webkit-box-shadow: 0 0 14px #444;
  box-shadow: 0 0 14px #444;
  position: fixed;
  right: 799px;
  top: 40px;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  z-index: 2;
  animation: sliding-panel-close-button-in 0.4s forwards;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* opacity: 0; */

.sliding-panel-widget-close-button {
  padding: 15px 30px 15px 10px;
  background: #0071c2;
  width: 20px;
  border-radius: 5px 0 0 5px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  -webkit-box-shadow: 0 0 14px #444;
  box-shadow: 0 0 14px #444;
  position: fixed;
  right: 799px;
  top: 40px;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  z-index: 2;
  animation: sliding-panel-close-button-in 0.4s forwards; /* Đặt lại animation ban đầu */
  animation-delay: 0.3s;
}

.sliding-panel-widget-close-button {
  animation: sliding-panel-close-button-in 0.1s reverse forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.bicon-aclose::before {
  content: "\0058";
}

@keyframes sliding-panel-in {
  0% {
    
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sliding-panel-widget .is-shown .sliding-panel-widget-content {
  -webkit-animation: sliding-panel-in 500ms;
  animation: sliding-panel-in 500ms;
}

.review_list_block.sliding-panel-widget-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  width: 800px;
}
.sliding-panel-widget-content {
  background: #fff;
  padding: 15px 25px 0 25px;
  -webkit-box-shadow: 0 0 14px #444;
  box-shadow: 0 0 14px #444;
  overflow: auto;
  width: 585px;
  z-index: 100;
  position: absolute;
  right: 0;
  min-height: 100%;
  overflow: visible;
}

.review_list_outer_container {
  margin-top: 17px;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.review_list_block.one_col .review_list_score_container.lang_ltr {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
}

.review_list_block.one_col .review_list_score_container {
  width: 100%;
}
.review_list_score_container.lang_ltr {
  padding-right: 20px;
}

.review_list_score_container {
  float: left;
  position: relative;
  text-align: left;
  width: 30%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6 !important;
  overflow: hidden;
}

.reviews_panel_header_score {
  text-align: left;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: #e7e7e7;
}

.review-score-capla {
  display: inline-block;
}

.wrap-point {
  display: flex;
  height: 46px;
  list-style-type: none;
  padding: 0;
  pointer-events: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.block-point {
  align-items: center;
  background: #003580;
  border-radius: 7px 7px 7px 1px;
  color: #fff;
  display: flex;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  vertical-align: baseline;
  width: 32px;
}

.font-point {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 24px; */
}

.status-point {
  flex-shrink: 1;
  flex-basis: 100%;
  flex-grow: 1;
  gap: 8px;
  padding-left: 10px;
}

.total-review {
  margin-block-start: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  /* line-height: 18px; */
}

.review-guidelines-capla {
  color: #008009;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  margin-left: 16px;
}

.review_list_block.one_col .review_list_container {
  margin-bottom: 25px !important;
}
.review_list_block.one_col .review_list_container {
  width: 100%;
}

.font-point1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.bui-form__group {
  border: 0;
  padding: 0;
  margin: 0;
}

.bui-u-pull-end {
  float: right !important;
  box-sizing: border-box;
}

.bui-form__label {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 36px;
  padding-bottom: 0;
  vertical-align: bottom;
}

.bui-input-select {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.bui-input-select .bui-form__control {
  /* padding-left: 7px; */
  padding-left: 10px;
  padding-right: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 64px;
  z-index: 100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.bk-icon {
  vertical-align: middle;
  max-width: 256px;
}

.bui-input-select__icon {
  vertical-align: middle;
  position: absolute;
  pointer-events: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bui-input-select__icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: #262626;
  position: absolute;
  pointer-events: none;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.review-list--clean .review_list {
  margin: 0 0 3em 0;
}

.review_list {
  color: var(--bui_color_black);
  list-style: none;
  margin: 12px;
  padding: 0;
}

.review_list_new_item_block {
  padding: 24px 0;
  border-bottom: solid 1px #ececec;
}

.c-review-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.bui-grid {
  margin: 8px 0px 8px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: nowrap;
}

[class*="bui-grid__column"] {
  width: 100%;
  /* padding: 16px 8px 0 8px; */
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  margin: 0;
  box-sizing: border-box;
}

.bui-grid__column-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 30%;
  width: 25%;
  max-width: 30%;
}

.c-review-block__row {
  width: 100%;
  display: inline-block;
  padding-bottom: 16px;
  vertical-align: top;
}

.bui-avatar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.c-avatar.bui-avatar {
  min-width: 32px;
}

.bui-avatar {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #494949;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bui-avatar__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

.bui-avatar-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 8px;
}

.bui-avatar-block__title {
  display: block;
}

.c-review-block__left .c-review-block__row:not(:first-child)a {
  color: #6b6b6b;
  fill: currentColor;
}

.c-review-block__row {
  width: 100%;
  display: inline-block;
  padding-bottom: 16px;
  vertical-align: top;
}

.bui-list:last-child {
  margin-bottom: 0;
}

.bui_font_caption,
body .bui-f-font-caption,
body .bui_font_caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bui-list--text {
  list-style-type: none;
  padding-left: 0;
}

.bui-list {
  /* padding-left: 16px; */
  margin: 0 0 16px 0;
}

.c-review-block__room-info-row li.review-block__room-info--disabled {
  cursor: text;
}

.bui-list--icon > .bui-list__item,
.bui-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.bui-list__item:last-child {
  margin-bottom: 0;
}

.bui-list__icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 16px;
}

.c-review-block__left .c-review-block__row:not(:first-child) {
  color: #6b6b6b;
  fill: currentColor;
}

.c-review-block__left .c-review-block__stay-date {
  padding-bottom: 0;
}

.c-review-block__row {
  width: 100%;
  display: inline-block;
  padding-bottom: 16px;
  vertical-align: top;
}

.bui-list--text {
  list-style-type: none;
  padding-left: 0;
}

.bui-list--icon > .bui-list__item,
.bui-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.bui-list__item:last-child {
  margin-bottom: 0;
}

.c-review-block__left .c-review-block__row:not(:first-child) .bui-list__icon {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bui-list__icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 16px;
}

.bui-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.c-review-block__left .c-review-block__row:not(:first-child) .bui-list__body {
  display: inline-block;
  width: 100%;
  word-break: break-word;
}

.bui-list__body {
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.c-review-block__date {
  display: inline;
  color: #6b6b6b;
  font-size: 12;
  font-weight: 400;
  line-height: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.c-review-block__left .c-review-block__row:not(:first-child) {
  color: #6b6b6b;
  fill: currentColor;
}

.c-review-block .c-review-block__row:last-child {
  padding-bottom: 0;
}

.bui-list:last-child {
  margin-bottom: 0;
}

.bui-grid__column-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  width: 75%;
  max-width: 75%;
}

.c-review-block__row {
  width: 100%;
  display: inline-block;
  padding-bottom: 16px;
  vertical-align: top;
}

.c-review-block__right .c-review-block__date {
  display: inline-block;
  margin-bottom: 4px;
}

.c-review-block__date {
  display: inline;
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.c-review__title--ltr {
  direction: ltr;
  text-align: left;
}

.c-review-block__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
}

.bui-grid__column-1 {
  -ms-flex-preferred-size: 8.33333%;
  -webkit-flex-basis: 8.33333%;
  flex-basis: 8.33333%;
  width: 8.33333%;
  max-width: 8.33333%;
}

.c-review-block__right .bui-review-score {
  position: relative;
  bottom: 16px;
}

.bui-review-score,
.bui-review-score__badge {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bui-review-score {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bui-review-score__badge {
  background: #003580;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  vertical-align: baseline;
  border-radius: 7px 7px 7px 1px;
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.c-review {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.c-review__row:first-child {
  padding-top: 0;
}

.c-review__row {
  padding-top: 16px;
}

.c-review__inner--ltr {
  direction: ltr;
  text-align: left;
}

.c-review__inner {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #262626;
}

.c-review__prefix--color-green,
.c-review__prefix--color-green .c-review__icon {
  fill: #7ee397;
  color: #7ee397;
}


.color-icon{
  fill: #dd6b2d;
  color: #dd6b2d;
}
.c-review__prefix {

  display: inline-block;
  font-weight: 600;
}

.c-review__body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #262626;
  direction: ltr;
  text-align: left;
  white-space: pre-line;
  word-break: break-word;
}


